<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="Martodosko Studio"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Martodosko">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".MixerActivity" android:exported="false"/>
        <activity android:name=".EffectsActivity" android:exported="false"/>
    </application>
</manifest>
